/* styles.css */
:root {
/* CSS HEX */
--icy-blue: #b1ddf1ff;
--amethyst-smoke: #9f87afff;
--grape-soda: #88527fff;
--chocolate-plum: #614344ff;
--deep-mocha: #332c23ff;
}
body {
  background-color: var(--deep-mocha);
}
h1 {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--amethyst-smoke);
}

h2 {
  font-family: "PT Serif", serif;
  font-weight: 300;
  font-style: normal;
  color: var(--icy-blue);
}

p {
  font-family: "Luxurious Roman", serif;
  font-weight: 200;
  font-style: normal;
}

li {
  font-family: "Luxurious Roman", serif;
  font-weight: 200;
  font-style: normal;
}
